/*  https://coolors.co/FFDE59-2478BC-5CE1E6-0F6281-000B14  */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&family=Roboto&display=swap');


#content{ /*div*/
    max-width: 1440px;
    margin: 0 auto;
}

nav, a{
    text-align: right;
    color: #2478BC;
    text-decoration: none;
    padding: 35px;
}

nav {
    display:flex ;
    justify-content: right; /* rigth */
    align-self: center;
}


/* Text for Hero */
#hero-msg h1, #hero-msg h4{
    text-align: center; 
}

#hero-img{
    width: 100%;
    
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: -50px; 
}

#hero-box {
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 4/65;
    grid-row: 2/3;
    margin-top: -200px;
   
}

main section {
    text-align: center;
}

body {
    background-color: #0F6281; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFDE59;
    display: grid;
    grid-template-columns: 200px auto;
}

nav a:hover {
    background-color: #0F6281;
    color: #FFDE59;
}

.contactusBotton {
    background-color: #FFDE59;
    color: #0F6281;
    text-decoration: none;
    font-family: "Reem Kufi Ink","Robotox",  sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}



.contactusBotton:hover, .contactusBotton-Analytics:hover {
    background-color: #000B14;
    color: #FFDE59;
}

.WhatWeCanDo-card , .WhoWeAre-card {
    background-color: #2478BC; /* white */
    color: #000B14;
    line-height: 1.5em;
    padding: 35px;
    
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}



p { /****************************** checkear ********************************/
    font-family:  "Reem Kufi Ink", "Robotox", sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

h2 { /****************************** checkear ********************************/
    font-family: "Reem Kufi Ink", "Robotox", sans-serif;
    font-size: 2em;
    padding-bottom: 15px;
}




.button-box{  /* no tengo boton todavia *************************************************************************/
    text-align: center;
}
/***************************************** MAIN ****************************************************/

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


.WhoWeAre-card {
    margin: 20px;   
    grid-column: 2/10;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid #000B14;
    font-family: "Reem Kufi Ink", "Robotox", sans-serif;
    font-size: 2em;
    padding-bottom: 15px;
}
.WhatWeCanDo-card {
       
    grid-column: 3/9;
    grid-row: 3/4;
    padding: 20px;
    z-index: 1;
    box-shadow: 5px 5px 10px #6f7364;
    border: 2px solid #000B14;

    font-family: "Reem Kufi Ink", "Robotox", sans-serif;
    font-size: 1em;
    padding-bottom: 15px;
    padding-bottom: 30px;
}

.card-img {
    border: 5px solid #FFDE59;
    width: 400px;
    grid-column: 1/2;
}
.WhoWeAre-msg{
    grid-column: 2/6;
    align-items: center;
    align-content: center; 
}

.card-img {
    width: 400px;
    grid-column: 1/2;
}


.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px; 
    background-color: whitesmoke;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/11;
    grid-row: 4/5;
  
}

.icon{
    width: 6em;
    padding-top: 10px;
}

/***************************************** FOOTER **************************************************/
footer { /* .social img*/
    padding-top: 15px;
}
/*
.brands {
    padding-top: 15px;
    border: solid #000B14;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
*/
footer{
    background-color: #FFDE59;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: #000B14;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  
footer h3{
    color: #cadef3;
}
footer a{
    color: #0F6281;
    text-decoration: none;
}

footer a:hover{
    background-color: #000B14;
    color: #FFDE59;
}

.hero-title, .hero-title2 {
    font-family: "Robotox", "Reem Kufi Ink", sans-serif;
    font-size: 2em;
    color: #0F6281;
    background-color: #FFDE59;
    margin-top: 10px;
}

h2{
    margin: 0;
}

.logo{
    width: 150px;
    margin: auto;
    align-items: center;
    
}

#logo_link {
    padding:0em;
    justify-self: center;
    align-self: center;
}

/**************************************** CONTACT US *******************************************/

.Form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 50px;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    padding: 1em; 
    border: 1px solid #FFDE59;
    border-radius: 1em;
    margin-top: 10px;
    grid-column: 1/3;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    form li + li {
    margin-top: 1em;
    }

    label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 100%;
    text-align: left;

    font-family: "Reem Kufi Ink", "Robotox", sans-serif;
    font-size: 1.5em;
    padding-bottom: 15px;
    color: #FFDE59;
    }

    input,
    textarea {
    /* To make sure that all text fields have the same font settings
        By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 100%;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #FFDE59;
    }

    input:focus,
    textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
    }

    textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 20em;
    }

    .button {
    /* Align buttons with the text fields */
    /* padding-left: 90px; same size as the label elements */
    
    }

    button {
    /* This extra margin represent roughly the same space as the space
        between the labels and their text fields */
    margin-left: 0;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
    }
    .moveDown {
        margin-top: 3em;
    }

    /* ---------- PROFILE CARD -------------------*/

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        grid-column: 3/4;
        
      }
      
      .Position {
        color: #FFDE59;;
        font-size: 18px;
      }

      a {
        text-decoration: none;
        font-size: 22px;
        color: black;
        
      }
      
      button:hover {
        color: #FFDE59;;
      }

      /*----------------------- ----------------------*/
    .Title-Page{
        font-family: "Reem Kufi Ink", "Robotox", sans-serif;
        font-size: 2em;
        padding-bottom: 15px;
        color: #FFDE59;
        grid-column: 1/11;
        grid-row: 1/5;
        height: 200px;
    }


    .Analytics {
       
        grid-column: 2/10;
        grid-row: 1/4;
        margin-top: 600px;
        z-index: 1;
        box-shadow: 5px 5px 10px #6f7364;
        border: 2px solid #000B14;
    
        font-family: "Reem Kufi Ink", "Robotox", sans-serif;
        font-size: 1em;
        padding-bottom: 15px;
        padding-bottom: 30px;
        
        color: #000B14;
        line-height: 1.5em;
        padding: 35px;

        background-color: #2478BC; /* white */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
    .Automation {
       
        grid-column: 2/10;
        grid-row: 1/4;
        margin-top: 400px;
        z-index: 1;
        box-shadow: 5px 5px 10px #6f7364;
        border: 2px solid #000B14;
    
        font-family: "Reem Kufi Ink", "Robotox", sans-serif;
        font-size: 1.3em;
        padding-bottom: 15px;
        padding-bottom: 30px;
        
        color: #000B14;
        line-height: 1.5em;
        padding: 35px;

        background-color: #2478BC; /* white */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }

    .Analytics-msg{
        grid-column: 2/6;
        grid-row: 1/2;
        align-items: center;
        align-content: center; 
        font-family: "Reem Kufi Ink","Robotox",  sans-serif;
        font-size: 24px;
        padding: 10px;
    }
    .card-img-Analytics2{
        border: 5px solid #FFDE59;
        width: 400px;
        grid-column: 1/2;
        grid-row: 1/2;
        
    }
    .card-img-Analytics1{
        border: 5px solid #FFDE59;
        width: 400px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 60%;
        margin-left: -40%;
        z-index: 1;
    }

    .contactusBotton-Analytics{
        background-color: #FFDE59;
        color: #0F6281;
        text-decoration: none;
        font-family: "Reem Kufi Ink","Robotox",  sans-serif;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
        float: right;
        margin-right: 40px;
    }


      /* Container holding the image and the text */
    .container-img {
        position: relative;
        height: 200px;
    }
    .img-block{
        height: 300px;
    }
    
    /* Bottom right text */
    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
/*
*  {
    border: 1px solid red;
}
*/