
a{
    color: white;
    margin: 40px;
    font-size: 1.5em;
}
h1 {
    color: steelblue;
    text-align: center;
}
img{
    width: 80%;
    border: 4px solid steelblue;
    display: block;
    margin: 0 auto;
}
p{
    padding: 10px;
    width: 100%;
}
main p{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

nav, footer {/*selector seria el footer y el nav */
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px; /*padding es relleno*/
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: whitesmoke;
    color: steelblue;
}

footer p { /*selector desendiente, seria el p dentro del footer*/
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.505);
    color: steelblue;
}
